// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dashboard-totals {
  padding-top: 0px;
  margin-top: 0px;
}

.dashboard-panel {
  padding: 0px !important;
}