<div class="row">
   <div class="col-sm-8 col-sm-offset-2">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Generate excel spreadsheet reports</h3>
      </div>
      <div class="panel-body dashboard-panel" align="center" style="margin-top: 10px; margin-bottom: 10px;">
        <%= link_to "All assigned assets", reports_assigned_path(format: "xls"), class: "btn btn-lg btn-primary" %>
      </div>
    </div>
  </div>
</div>
</div>